<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    isso daqui é um teste besta e to achando que vou precisar é refazer tudo que legal que bacana teu cu na minha banana
    {{{body}}}
</body>
</html>