
<form action="/post-edit-ouvintes" method="post">
    <h1>Editar Ouvintes!</h1>
    <input type="hidden" name="id" value="{{ouvinte.ra}}">
    Ra: 
    <input type="text" name="ra" value="{{ouvinte.ra}}"> <br>
    Nome: 
    <input type="text" name="nome" value="{{ouvinte.nome}}">
    <input type="submit" value="Editar">
</form>