
<form action="/post-excluir-candidatos" method="post">
    <h1>Excluir Candidatos!</h1>
    <input type="hidden" name="id" value="{{candidato.ra}}">
    Ra: 
    <p>Tem certeza que deseja excluir o candidato:</p><br>
    <p>Nome: {{candidato.nome}}</p>
    <p>Ra:{{candidato.ra}}</p><br>
    <input type="submit" value="Excluir">
    <a href="/listar-candidatos"><input type="button" value="Cancelar"></a>
</form>