
<form action="/post-excluir-candidatos" method="post">
    <h1>Excluir Candidatos!</h1>
    <input type="hidden" name="id" value="{{candidato.ra}}">
    Ra: 
    <input type="text" name="ra" value="{{candidato.ra}}"> <br>
    Nome: 
    <input type="text" name="nome" value="{{candidato.nome}}">
    <input type="submit" value="Excluir">
</form>