<form action="/post-excluir-ouvintes" method="post">
    <h1>Excluir Ouvintes!</h1>
    <input type="hidden" name="id" value="{{ouvinte.ra}}">
    Ra: 
    <p>Tem certeza que deseja excluir o ouvinte:</p><br>
    <p>Nome: {{ouvinte.nome}}</p>
    <p>Ra:{{ouvinte.ra}}</p><br>
    <input type="submit" value="Excluir">
    <a href="/listar-ouvintes"><input type="button" value="Cancelar"></a>
</form>